<mat-toolbar class="octo-toolbar">
  <div>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <img src="/assets/fire-guardians-dark.svg" width="50px"  alt="fire guardians logo">
  <span>FIRE GUARDIANS</span>

  <div class="octo-spacer"></div>

  @if (isAuthenticated()) {
    <button class="add-notification" mat-icon-button (click)="addNotification()" matTooltip="Enable notifications">
      <mat-icon class="material-symbols-outlined">notifications</mat-icon>
    </button>
  }

  <button mat-icon-button aria-label="Profile menu" [matMenuTriggerFor]="profileMenu" >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu">
    @if (!isAuthenticated()) {
      <button (click)="login()" mat-menu-item>Login</button>
    }
    @if (isAuthenticated()) {
      <button (click)="logout()" mat-menu-item>Logout</button>
    }
  </mat-menu>
</mat-toolbar>
